@import "tailwindcss";

body {
  background-color: #f0f2f5;
  font-family: Helvetica, Arial, sans-serif;
}

.fb-input {
  @apply w-full border border-gray-300 rounded-md px-3 py-3 text-[17px]
  focus:outline-none focus:border-blue-500;
}

.fb-btn {
  @apply w-full bg-[#1877f2] text-white text-[20px] font-bold py-3 rounded-md hover:bg-blue-700;
}

.fb-create-btn {
  @apply bg-[#42b72a] text-white text-[17px] font-bold py-3 px-6 rounded-md hover:bg-green-700;
}
